In [1]:
import pandas as pd
import numpy as np
import requests
import os
import shutil
from bs4 import BeautifulSoup
from selenium import webdriver

In [2]:
def mvp_df():
    years = list(range(1995,2022))
    url_start = "https://www.basketball-reference.com/awards/awards_{}.html"
    for year in years:
        url = url_start.format(year)
        data = requests.get(url)
        with open("mvp/{}.html".format(year), "w+") as f:
            f.write(data.text)
    dfs = []
    for year in years:
        with open("mvp/{}.html".format(year)) as f:
            page = f.read()
    
        soup = BeautifulSoup(page, 'html.parser')
        soup.find('tr', class_="over_header").decompose()
        mvp_table = soup.find_all(id="mvp")[0]
        mvp_df = pd.read_html(str(mvp_table))[0]
        mvp_df["Year"] = year
        dfs.append(mvp_df)
        mvps = pd.concat(dfs)
        #mvps = mvps.to_csv("data/mvp.csv") 
    return mvps

In [3]:
mvps = mvp_df()
mvps

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,David Robinson,29,SAS,73.0,901.0,1050,0.858,81,38.0,...,10.8,2.9,1.7,3.2,0.530,0.300,0.774,17.5,0.273,1995
1,2,Shaquille O'Neal,22,ORL,12.0,605.0,1050,0.576,79,37.0,...,11.4,2.7,0.9,2.4,0.583,0.000,0.533,14.0,0.230,1995
2,3,Karl Malone,31,UTA,14.0,532.0,1050,0.507,82,38.1,...,10.6,3.5,1.6,1.0,0.536,0.268,0.742,13.8,0.212,1995
3,4,Patrick Ewing,32,NYK,2.0,230.0,1050,0.219,79,37.0,...,11.0,2.7,0.9,2.0,0.503,0.286,0.750,9.6,0.157,1995
4,5,Hakeem Olajuwon,32,HOU,1.0,147.0,1050,0.140,72,39.6,...,10.8,3.5,1.8,3.4,0.517,0.188,0.756,10.7,0.181,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,11,Russell Westbrook,32,WAS,0.0,5.0,1010,0.005,65,36.4,...,11.5,11.7,1.4,0.4,0.439,0.315,0.656,3.7,0.075,2021
11,12,Ben Simmons,24,PHI,0.0,3.0,1010,0.003,58,32.4,...,7.2,6.9,1.6,0.6,0.557,0.300,0.613,6.0,0.153,2021
12,13T,James Harden,31,TOT,0.0,1.0,1010,0.001,44,36.6,...,7.9,10.8,1.2,0.8,0.466,0.362,0.861,7.0,0.208,2021
13,13T,LeBron James,36,LAL,0.0,1.0,1010,0.001,45,33.4,...,7.7,7.8,1.1,0.6,0.513,0.365,0.698,5.6,0.179,2021
14,13T,Kawhi Leonard,29,LAC,0.0,1.0,1010,0.001,52,34.1,...,6.5,5.2,1.6,0.4,0.512,0.398,0.885,8.8,0.238,2021

In [ ]:
def teams_df():
    years = list(range(1995,2022))
    team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"
    for year in years:
        url = team_stats_url.format(year)
        data = requests.get(url)
        with open("Standings/{}.html".format(year), "w+") as f:
            f.write(data.text)
    dataframes = []
    for year in years:
        with open("Standings/{}.html".format(year)) as f:
            page = f.read()
        soup = BeautifulSoup(page, 'html.parser')
        soup.find('tr', class_="thead").decompose()
        e_table = soup.find_all(id="divs_standings_E")[0]
        e_df = pd.read_html(str(e_table))[0]
        e_df["Year"] = year
        e_df["Team"] = e_df["Eastern Conference"]
        del e_df["Eastern Conference"]
        dataframes.append(e_df)
        w_table = soup.find_all(id="divs_standings_W")[0]
        w_df = pd.read_html(str(w_table))[0]
        w_df["Year"] = year
        w_df["Team"] = w_df["Western Conference"]
        del w_df["Western Conference"]
        dataframes.append(w_df)
        teams = pd.concat(dataframes)
        #teams = teams.to_csv("teams.csv")
    return teams

In [ ]:
def players_df():
    players = list(range(1995, 2023))
    url_2 = 'https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'
    for player in players:
        url_2_final = url_2.format(player)
        data = requests.get(url_2_final)
        with open ('Players/players{}.html'.format(player), 'w+') as file:
            file.write(data.text)
    dataframes = []
    for player in players:
        with open("Players/players{}.html".format(player)) as f:
            page = f.read()
        soup = BeautifulSoup(page, 'html.parser')
        soup.find('tr', class_="thead").decompose()
        players_list = soup.find_all(id="per_game_stats")[0]
        players_list_final = pd.read_html(str(players_list))[0]
        players_list_final["Year"] = player
        dataframes.append(players_list_final)
        players = pd.concat(dataframes)
        #players = players.to_csv("players.csv")
    return players